<p-table #dt1 [value]="pokemon" [globalFilterFields]="['name.english']" [paginator] ="true" [rows]="15">
    <ng-template pTemplate="caption">
        <div class="flex table-filters">            
            <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="globalFilter($event, 'contains')" placeholder="Search keyword" />
            </span>
            <select (change)="filterByType($event, 'type', 'contains')">
                <option value="">All</option>
                <option value="Bug">Bug</option>
                <option value="Grass">Grass</option>
                <option value="Fire">Fire</option>
                <option value="Ground">Ground</option>
                <option value="Fighting">Fighting</option>
                <option value="Fairy">Fairy</option>
                <option value="Rock">Rock</option>
                <option value="Electric">Electric</option>
                <option value="Water">Water</option>
                <option value="Ghost">Ghost</option>
                <option value="Steel">Steel</option>
                <option value="Dragon">Dragon</option>
                <option value="Dark">Dark</option>
                <option value="Ice">Ice</option>
                <option value="Normal">Normal</option>
                <option value="Psychic">Psychic</option>
                <option value="Flying">Flying</option>
                <option value="Poison">Poison</option>
            </select>
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)">Clear</button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr class="table-header">
            <th></th>
            <th>#</th>
            <th>Name</th>
            <th>Type</th>
            <th>HP</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>Sp.Atk</th>
            <th>Sp.Def</th>
            <th>Speed</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pokemon>
        <tr class="table-body">
            <td>
                <img src="https://img.pokemondb.net/sprites/sword-shield/icon/{{pokemon.name['english'].replace(' ', '-').replace('.', '').replace('\'', '').replaceAll('é', 'e').replace('♀', '-f').replace('♂', '-m') | lowercase}}.png">
            </td>
            <td>{{pokemon.id}}</td>
            <td>{{pokemon.name["english"]}}</td>
            <td>
                <p *ngFor="let type of pokemon.type" class="type-container">
                   <span class="{{type | lowercase}}">{{type}}</span>
                </p>
            </td>
            <td>{{pokemon.stats["HP"]}}</td>
            <td>{{pokemon.stats["Attack"]}}</td>
            <td>{{pokemon.stats["Defense"]}}</td>
            <td>{{pokemon.stats["Sp. Attack"]}}</td>
            <td>{{pokemon.stats["Sp. Defense"]}}</td>
            <td>{{pokemon.stats["Speed"]}}</td>
        </tr>
    </ng-template>
</p-table>